# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Publish output
publish/
publish-standalone/
[Pp]ublish/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser
*.userprefs

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
.nuget/

# Rider / VS Code
.idea/
.vscode/

# OS files
Thumbs.db
Thumbs.db:encryptable
.DS_Store
desktop.ini

# Logs / crash
*.log
